In [1]:

import requests  

from bs4 import BeautifulSoup 

import pandas as pd

import csv

import time

from urllib.request import urlopen

In [2]:
parameter1="babar_Azam"
html=urlopen('https://en.wikipedia.org/wiki/'+parameter1)
soup = BeautifulSoup(html.read(), 'html.parser')
soup
a=[]

for link in soup.find_all('a'):
    if 'href' in link.attrs:
        a.append(link.attrs['href'])
b=[]
c='/content/player/'
for i in a:
    if(c in i):
        b.append(i)
       
html2=urlopen(b[0])
soup2 = BeautifulSoup(html2.read(), 'html.parser')

In [5]:
anchors = soup2.find_all('th', {'class': 'ds-w-0 ds-whitespace-nowrap ds-min-w-max'})
d=[]
for anchor in anchors:
    d.append(anchor.text)
    
e=d[0:6]
e

['Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave']

In [6]:
anchors2 = soup2.find_all('td', {'class': 
                                 {'ds-w-0 ds-whitespace-nowrap ds-min-w-max ds-text-right ds-text-right',
                                  'ds-w-0 ds-whitespace-nowrap ds-min-w-max ds-text-right ds-text-right ds-font-bold'}})
f=[]
for anchor in anchors2:
    f.append(anchor.text)
g=f[0:6]    
g

['42', '75', '9', '3122', '196', '47.30']

In [7]:
new_dict = {e[i]: f[i] for i in range(len(e))}
new_dict

{'Mat': '42',
 'Inns': '75',
 'NO': '9',
 'Runs': '3122',
 'HS': '196',
 'Ave': '47.30'}

In [8]:
import pandas as pd
df_table = pd.DataFrame(new_dict,index=[0])
df_table

  Mat Inns NO  Runs   HS    Ave
0  42   75  9  3122  196  47.30